extends layout

block append head
    link(rel="stylesheet", href="/css/pages/error.css")
block app
    h1.page-title Error 404
    span Sorry, we couldn't find that page. It might have been moved or deleted.
    span= error.stack