extends layout

block append head
    link(rel="stylesheet", href="/assets/css/about.css")

block app
    h2 Home
    p Idk insert something here that you want to say about yourself when people see the site or something.