extends layout

block append head
    link(rel="stylesheet", href="/css/pages/home.css")
block app
    h2 About Us
    p Talk about your server here.
    h3 What We Do
    p I don't know, we like to do things.