html
    block head
        title= title + ' | Dreamy'
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        meta(name="title" content="Dreamy")
        meta(name="description" content="Some description")

        meta(property="og:title" content="Dreamy")
        meta(property="og:description" content="Some description")

        link(rel="icon", href="https://github.com/favicon.ico")
        link(rel="stylesheet", href="/css/site.css")

    body
        header
            block header
                nav
                    ul.left
                        li
                            a(href="/")
                                span Home
                            a(href="/rules")
                                span Rules
                            a(href="/staff")
                                span Staff
                            a(href="/faq")
                                span FAQ
                            a(href="/support")
                                span Support
                    ul.right
                        li
                            a(href="https://discord.dreamyy.cf")
                               span Discord
        main
            .app
                h1.page-title= title
                block app            
        footer
            block footer
                span.copyright-notice &copy; Dreamy 2020. All rights reserved.